
<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>{{site.data[locale].about.title}}</h2>
            <p>{{site.data[locale].about.paragraph1}}</p>
            <p>{{site.data[locale].about.paragraph2}}</p>

            <p>
              <a href="{{site.data[locale].about.toolkiturl}}" class="btn btn-default btn-lg page-scroll">{{site.data[locale].about.toolkit}}</a>
            </p>
              <p><hr style="width:150px; color:#fff;"><p>
            <p>
              <a href="#feedback" class="btn btn-default btn-lg page-scroll">{{site.data[locale].feedback.title}}</a>
              <a href="#acknowledgement" class="btn btn-default btn-lg page-scroll">{{site.data[locale].acknowledgment.title}}</a>
            </p>

        </div>
    </div>
</section>
