<!-- Feedback Section -->
<section id="{{site.data[locale].feedback.id}}" class="content-section text-center">
  <div class="feedback-section">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>{{site.data[locale].feedback.title}}</h2>
            <p>{{site.data[locale].feedback.paragraph1}}</p>
            <p>{{site.data[locale].feedback.paragraph2}}</p>
            <p><a href="https://docs.google.com/forms/d/15vPIZJwqUi0LP_6q6JMujlVHaEBDAH9uc1s6EVLWYKE/viewform?usp=send_form" class="btn btn-default btn-lg"><i class="far fa-comment"></i>&nbsp; {{site.data[locale].feedback.form_btn}}</a></p>
            <h2>{{site.data[locale].feedback.social}}</h2>
            <p>
              <a href="http://twitter.com/intent/tweet?status={{site.data[locale].feedback.tweet}}" target="_blank" class="btn btn-default btn-lg"><i class="fab fa-twitter fa-fw"></i>&nbsp; {{site.data[locale].feedback.twitter}}</a>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{site.data[locale].feedback.fblink}}" target="_blank" class="btn btn-default btn-lg"><i class="fab fa-facebook"></i> &nbsp; {{site.data[locale].feedback.fb}}</a>
            </p>
        </div>
    </div>
  </div>
</section>
