<!-- Fixed navbar -->
<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="{{site.data[locale].nav_home.url}}">{{site.data[locale].nav_home.text}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
				{% for nav in site.data[locale].nav %}
				{% if nav.url %}
				<li>
					<a href="{{nav.url}}">{{nav.text}}</a>
				</li>
				{% else if nav.links %}
				<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{nav.text}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% for link in nav.links %}
						<li><a href="{{link.url}}">{{link.text}}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% endif %}
				{% endfor %}
				<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{locale}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% for loc in site.authorized_locales %}
						{% assign pg = site.pages | where:"lang",{{loc}} | where:"id",page.id | first %}
						<li>
							<a href="{{site.baseurl}}{{pg.url}}">{{loc}}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
			</ul>


    </div><!--/.nav-collapse -->
  </div>
</nav>

<!--[if lte IE 9]>
<div id="browser-warning"><h4>Your browser is out of date and not supported by this website.
Please check out <a href="http://browsehappy.com/">Browse Happy</a> to get the lastest versions of major browsers.</h4></div>
<![endif]-->
