<!-- Resources Section -->
<section id="resources" class="content-section text-center">
  <div class="light-section">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
        <h2>Additional resources:</h2>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-md-offset-2">
              <img class="img-resources img-circle" src="/img/keydocuments.jpg" alt="RCRC Movement Key Documents">
              <div class="caption">
                <p><a href="javascript:;" onclick="console.log('nothing');" class="btn btn-lg btn-default btn-resources" role="button">RCRC Movement <br><small>Key Documents</small></a></p>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <img class="img-resources img-circle" src="/img/references.jpg" alt="Additional CTP Guidance">
              <div class="caption">
                <p><a href="javascript:;" onclick="console.log('nothing');" class="btn btn-lg btn-default btn-resources" role="button">References <br><small>Additional CTP Guidance</small></a></p>
              </div>
          </div>
          </div>
        </div>
      </div>
  </div> <!-- /light-section -->
</section>
