<!-- Toolkit Section -->
    <section id="toolkit" class="content-section text-center">
        <div class="light-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>{{site.data[locale].toolkit.title}}</h2>
                    <p>{{site.data[locale].toolkit.paragraph1}}</p>
                    <p>{{site.data[locale].toolkit.paragraph2}}</p>

                </div>
                <!-- <p>
                <ul class="list-inline">
                  <li><a href="#preparedness-section" class="page-scroll btn btn-default btn-lg btn-module btn-preparedness" style="padding-top:21px;">Preparedness</a></li>
                  <li><a href="#assessment-section" class="page-scroll btn btn-default btn-lg btn-module btn-assessment" style="padding-top:21px;">Assessment</a></li>
                  <li><a href="#analysis-section" class="page-scroll btn btn-default btn-lg btn-module btn-response">Response<br> Analysis</a></li>
                  <li><a href="#implementation-section" class="page-scroll btn btn-default btn-lg btn-module btn-implementation">Set-up &amp;<br>Implementation</a></li>
                  <li><a href="#evaluation-section" class="page-scroll btn btn-default btn-lg btn-module btn-evaluation">Monitoring<br>&amp; Evaluation</a></li>
                </ul>
                </p> -->
            </div>
            </div>
        </div> <!-- /light-section -->
    </section>
