<style>

.page-wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

#toolkit {
  color: #000;
  background-color: #f5f5f5;
  padding: 80px 20px;
  position: relative;
  margin-left: 240px;
  z-index: 2;
}

#toolkit-sidebar {
  position: absolute;
  width: 240px;
  display: block;
  background: #000;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.nav-wrapper {
  width: 240px;
  position: fixed;
  top: 50px;
  bottom: 0;
  margin: 0;
  overflow: auto;
  padding-left: 2px;

}
.nav-custom {
  padding-top: 20px;
}
/* all links */
.nav-wrapper .nav>li>a {
    color: #999;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
    border-left: 2px solid transparent;
}

/* all active links */
.nav-wrapper .nav>.active>a,
.nav-wrapper .nav>li>a:hover,
.nav-wrapper .nav>li>a:focus {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  background-color: transparent;
  border-left: 2px solid #fff;
}

/* nested links */
.nav-wrapper .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}
/* nested active links */
.nav-wrapper .nav .nav>.active>a,
.nav-wrapper .nav .nav>.active:hover>a,
.nav-wrapper .nav .nav>.active:focus>a {
    font-weight: bold;
}

/* hide all (inactive) nested list */
.nav-wrapper .nav ul.nav {
    display: none;
}
/* show active nested list */
.nav-wrapper .nav>.active>ul.nav {
    display: block;
}

.toolkit-block, .toolkit-item {
  padding-top: 70px;
  margin-top: -70px;
}


.folder-name.level-1 {
  /*margin: 0 0 35px;*/
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.folder-name.level-2 {
  /*margin: 0 0 35px;*/
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

#search-box .tt-menu{
  max-height: 250px;
  overflow-y: auto;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.tt-menu .empty-message {
  padding: 5px 10px;
  text-align: center;

}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  z-index: 20;
  text-align: left;
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 12px;
  line-height: 16px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

 p.tt-suggestion {
  margin: 0;
}


</style>
<div class="page-wrapper">
  <!--Nav Bar -->
  <nav id="toolkit-sidebar" class="">
    <div class="nav-wrapper">
      <ul class="nav nav-stacked nav-custom" data-toolkitpath="toolkit" >
        <li><a href="#toolkit" class="page-scroll">{{site.data[locale].toolkit.about}}</a></li>
          <!-- . . . toolkit nav menu goes here . . . -->
      </ul>
    </div>
  </nav>
    <!-- Toolkit content -->
    <div id="toolkit" class="">

      <div class="text-center">
          <h2>{{site.data[locale].toolkit.title}}</h2>
          <p>{{site.data[locale].toolkit.paragraph1}}</p>
          <p>{{site.data[locale].toolkit.paragraph2}}</p>
          <p>
            <ul class="list-inline">
              <li><a href="#" class="page-scroll btn btn-default btn-lg btn-module btn-preparedness">{{site.data[locale].toolkit.module1}}</a></li>
              <li><a href="#" class="page-scroll btn btn-default btn-lg btn-module btn-assessment">{{site.data[locale].toolkit.module2}}</a></li>
              <li><a href="#" class="page-scroll btn btn-default btn-lg btn-module btn-response">{{site.data[locale].toolkit.module3}}</a></li>
              <li><a href="#" class="page-scroll btn btn-default btn-lg btn-module btn-implementation">{{site.data[locale].toolkit.module4}}</a></li>
              <li><a href="#" class="page-scroll btn btn-default btn-lg btn-module btn-evaluation">{{site.data[locale].toolkit.module5}}</a></li>
            </ul>
          </p>

        <p>
          <div id="search-box">
          <input class="typeahead" type="text" placeholder="{{site.data[locale].toolkit.searchmessage}}">
          </div>
        </p>
      </div>

      <div id="toolkit-contents">
        <div data-toolkitpath="toolkit" class="toolkit-block">
            <div class="contents"></div>
            <!-- . . . folders and file links go here . . . -->
        </div>
      </div>

    </div>

</div>
<script src="/js/typeahead.bundle.js" charset="utf-8"></script>
<script src="/js/handlebars-v4.0.5.js" charset="utf-8"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>

// HELPERS
// #######

$('body').scrollspy({
    target: '.nav-wrapper'
    // offset: 60 // // can use this or something like ...  padding-top: 70px; && margin-top: -70px;
});


var systemFile = function(filename){
  if (filename.indexOf('.') === 0){
    return true;
  } else { return false; }
};
var typeIcon = function(extension){
  switch(extension) {
    case ".doc":
    case ".docx":
      return '<i class="fa fa-fw fa-file-word-o"></i> '
      break;
    case ".jpeg":
    case ".jpg":
    case ".png":
      return '<i class="fa fa-fw fa-file-image-o"></i> '
      break;
    case ".pdf":
      return '<i class="fa fa-fw fa-file-pdf-o"></i> '
      break;
    case ".ppt":
    case ".pptx":
      return '<i class="fa fa-fw fa-file-powerpoint-o"></i> '
      break;
    case ".xls":
    case ".xlsm":
    case ".xlsx":
      return '<i class="fa fa-fw fa-file-excel-o"></i> '
      break;
    case ".zip":
      return '<i class="fa fa-fw fa-file-archive-o"></i> '
      break;
    default:
      return '<i class="fa fa-fw fa-file-o"></i> '
  }
};

function identity(ugly) {
  var step1 = ugly.replace(/^[^-_a-zA-Z]+/, '').replace(/^-(?:[-0-9]+)/, '-');
  var step2 = step1 && step1.replace(/[^-_a-zA-Z0-9]+/g, '-');
  return step2.toLowerCase();
}



// GLOBAL VARIABLES
// ################
var language = "{{locale}}"
var emptymessage = "{{site.data[locale].toolkit.emptymessage}}"

function fetchData(){

  $.ajax({
    type: 'GET',
    url: 'http://webviz.redcross.org/ctp/toolkit/' + language,
    dataType: 'JSON'
  }).done(function(response){
    data = response
    buildToolkit(response);
  });
}

var data, rollup, pathArray, toplevelfolders;

function buildToolkit(data) {
  rollup = d3.nest()
  .key(function(d){ return d.dboxpathparts.length; })
  .sortKeys(d3.ascending)
  .sortValues(function(a,b){ return d3.ascending(a.fullpath, b.fullpath); })
  .entries(data);

  pathArray = [];
    for(var i=1; i<rollup.length; i++){
      $.each(rollup[i].values, function(index,a){
        if($.inArray(a.dboxpath, pathArray) === -1) {
          pathArray.push(a.dboxpath);
          // find parent nav list item and add a sub element to it
          var navHtml = '<li><a href="#' + identity(a.dboxpathparts.slice(1).join('/')) + '" class="page-scroll">' + a.dboxpathparts.slice(-1) + '</a>' +
              '<ul class="nav nav-stacked" data-toolkitpath="' + a.dboxpathparts.join('/') + '"></ul></li>';
          $('#toolkit-sidebar [data-toolkitpath="' + a.dboxpathparts.slice(0,-1).join('/') + '"]').append(navHtml);

          // add correct links for pretty top level folder buttons (the element id will vary for different languages)
          if(a.dboxpathparts.length === 2) {
            var pageLink = '#' + identity(a.dboxpathparts.slice(1).join('/'));
            if(pageLink.indexOf('1') > -1){
              $('.btn-module.btn-preparedness').attr('href', pageLink);
            }
            if(pageLink.indexOf('2') > -1){
              $('.btn-module.btn-assessment').attr('href', pageLink);
            }
            if(pageLink.indexOf('3') > -1){
              $('.btn-module.btn-response').attr('href', pageLink);
            }
            if(pageLink.indexOf('4') > -1){
              $('.btn-module.btn-implementation').attr('href', pageLink);
            }
            if(pageLink.indexOf('5') > -1){
              $('.btn-module.btn-evaluation').attr('href', pageLink);
            }
          }

          // find parent folder list element and add a sub folder div element to it
          var contentsHtml = '<div id="' + identity(a.dboxpathparts.slice(1).join('/')) + '" class="toolkit-block" data-toolkitpath="' + a.dboxpathparts.join('/') + '">' +
            '<div class="folder-name level-' + i + '"><i class="fa fa-fw fa-folder-o"></i> &nbsp;' + a.dboxpathparts.slice(-1) + '</div><div class="contents"></div></div>';
          $('#toolkit-contents [data-toolkitpath="' + a.dboxpathparts.slice(0,-1).join('/') + '"]').append(contentsHtml);
        }
      })
    }

    data.sort(function(a,b){ return d3.descending(a.fullpath, b.fullpath); })
      for(var i=0; i<data.length; i++){
        if(systemFile(data[i].basename) === false){
          var thisHtml = '<div class="toolkit-item">' +
            '<a id="' + identity(data[i].dboxpathparts.slice(1).join('/') + data[i].basename) + '" target="_blank" href="http://webviz.redcross.org/ctp/docs/' + language + '/toolkit/';
          thisHtml += (data[i].dboxpathparts.length > 1) ? data[i].dboxpathparts.slice(1).join('/') + '/' : '';
          thisHtml += data[i].basename + '">' +
            data[i].basename.slice(0,data[i].basename.indexOf(data[i].ext)) + ' ' + typeIcon(data[i].ext) + '</a></div>';
            // console.log(identity(data[i].dboxpathparts.join('/')))
          $('[data-toolkitpath="' + data[i].dboxpathparts.join('/') + '"]').children('.contents').prepend(thisHtml);
        }
      }

      $(function() {
          $('a.page-scroll').bind('click', function(event) {
              var $anchor = $(this);
              console.log($($anchor.attr('href')).offset().top)
              $('html, body').stop().animate({
                  scrollTop: $($anchor.attr('href')).offset().top
              }, 1500, 'easeInOutExpo');
              event.preventDefault();
          });
      });

  buildSearchBox();

}


// this section uses handlebars
// need to escape it so jekyll doesn't mess it up
{% raw %}

function buildSearchBox(){
  // format the data for inclusion into the search
  var searchData = []
  $.each(data, function(index, d){
    // exclude system files and files not in a folder (they go higher up the page)
    if(systemFile(d.basename) === false && d.dboxpathparts.length>1){
      searchData.push({
        "name": d.basename.slice(0,d.basename.indexOf(d.ext)),
        "type": d.ext.slice(1),
        "path": d.dboxpathparts.slice(1).join(' / '),
        "href": '#' + identity(d.dboxpathparts.slice(1).join('/') + d.basename)
      })
    }
  })
  // constructs the suggestion engine
  var documents = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name' , 'type', 'path'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: searchData
  });

  // kicks off the loading/processing of `local`
  documents.initialize();

  $('#search-box .typeahead').typeahead({
    // hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'documents',
    displayKey: Handlebars.compile('{{name}}'),
    limit: 20,
    source: documents.ttAdapter(),
    templates: {
      empty:[
        '<div class="empty-message">',
        '<i>' + emptymessage + '</i>',
        '</div>'
      ].join('\n'),
      suggestion: Handlebars.compile('<p>{{name}} <br> &nbsp;&nbsp;&nbsp;<i>{{path}}</i></p>')
    }
  }).on('typeahead:selected', function (eventObj, datum) {
    selectedDocument(datum);
  });
}
{% endraw %}

function selectedDocument(datum) {
  console.log(datum.href)
  $('html, body').stop().animate({
      scrollTop: $(datum.href).offset().top
  }, 1500, 'easeInOutExpo');

  $('#search-box .typeahead').typeahead('val', '');
  //
  // $("#info-village-name").html(datum.VILLAGE_NAME);
  // $("#info-village-altname").html(datum.ALT_VILLAGE_NAME);
  // $("#info-village-chiefdom").html(datum.CHIEFDOM);
  // $("#info-village-district").html(datum.DISTRICT);
  // $("#info-village-ward").html(datum.WARD);
  // $("#info-village-constituency").html(datum.CONSTITUENCY);
  // $("#info-village-households").html(datum.NUMBER_OF_HOUSEHOLDS);
  // var searchCode = datum.searchCode;
  // markersGroup.selectAll("circle").classed("selected", false);
  // markersGroup.selectAll("circle").filter(function(d) {
  //   return d.searchCode == searchCode;
  // }).classed("selected", true);

}

fetchData();

</script>
