<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Federation" />
    <meta property="og:title" content="{{site.data[locale].about.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{site.data[locale].meta.description}}" />
    <meta property="twitter:description" content="{{site.data[locale].meta.description}}" />
    <meta property="og:image" content="{{site.data[locale].meta.ogimage}}" />
    <meta property="twitter:image" content="{{site.data[locale].meta.twitterimg}}" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    {% include js.html %}

  </head>

  <!--[if lte IE 9]>
  <div id="browser-warning"><h4>Your browser is out of date and not supported by this website.
  Please check out <a href="http://browsehappy.com/">Browse Happy</a> to get the lastest versions of major browsers.</h4></div>
  <![endif]-->

  <body>

  {{ content }}


  </body>
</html>
